html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    color: rgb(25,25,25);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

header {
    display: inline-block;
    background-color: grey;
    padding: 25px;
    width: 100vw;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

.publicacion {
    width: 90vw;
    text-align: center;
    margin-top: 50px;
    border: 2px solid lightgray;
    border-radius: 7px;
}

.publicacion h2 {
    font-size: 1.5em;
}

.publicacion #publicado {
    font-size: 1.1em;
    color: orange;
}

.publicacion img {
    width: 100%;
}

.publicacion p {
    font-size: 1.2em;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    width: 100vw;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    padding: 15px 0px;
    font-size: 1.2em;
}

.enlaces a {
    margin: 5px;
    padding: 15px 0px;
    text-decoration: none;
    color: rgb(25,25,25);
}

.enlaces a:active {
    color: orange;
}

.enlaces a:hover {
    text-decoration: underline;
}

