html {
    scroll-behavior: smooth;
}

body {
    background-color: #E9ECEF;
    font-family: 'Roboto Mono', monospace;
    color: #161A1D;
    margin: 0;
}

header {
    background-color: #212529;
    padding: 40px;
    margin-bottom: 50px;
    text-align: center;
}

header h1 {
    display: inline-block;
    color: #F5F3F4;
    font-size: 2.5em;
    letter-spacing: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.publicacion {
    transition: box-shadow 0.3s ease;
    width: 30%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
}

.publicacion:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.16), 
    0 8px 8px rgba(0,0,0,0.20);
}

.titulo-autor h2 {
    font-size: 1.7em;
}

.titulo-autor p {
    color: #E5383B;
    font-size: 1.1em;
}

.img-publicacion img{
    max-width: 100%;
    max-height: 30%;
}

.descripcion p {
    font-size: 1.3em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    color: #F5F3F4;
    padding: 40px;
    margin-top: 50px;
}

footer p {
    letter-spacing: 3px;
}

.enlaces a {
    text-decoration: none;
    color: #F5F3F4;
    margin: 0px 5px;
}

.enlaces a:hover {
    text-decoration: underline;
}

.enlaces a:active {
    text-decoration: none;
}

#contacto {
    color: #E5383B;
}

#contacto:hover {
    color: #F5F3F4;
    background-color: rgb(186, 24, 27, 0.5);
    border-radius: 5px;
    padding: 5px 0px
}